<template>
  <div>
    
    <base-header class="pb-6 bg-gradient-success">

    </base-header>

    <!--Charts-->
    <b-container fluid class="pt-7 mt--7">
      <b-row>
        <b-col xl="6" class="mb-5 mb-xl-0">
          <sunburstVue v-if="sunburstVue.hierarchy" 
          :data="sunburstVue.hierarchy" 
          :width="sunburstVue.width"
          />
        </b-col>
        
      </b-row>


      <b-row>
        <b-col xl="4" class="mb-5 mb-xl-0">
        <sunburst style="height:400px"  :data="tree" :color-scheme="sunburstOption.color" :showshow-labels="sunburstOption.showLabels" :out-animation-duration="sunburstOption.outAnum" >
            <!-- Add behaviors -->
            <template slot-scope="{ on, actions }">
              <highlightOnHover v-bind="{ on, actions }"/>
              <zoomOnClick v-bind="{ on, actions }"/>
            </template>
            <!-- Add information to be displayed on top the graph -->
            <nodeInfoDisplayer slot="top" slot-scope="{ nodes }" :current="nodes.mouseOver" :root="nodes.root" :description="tree.name" />
            <!-- Add bottom legend -->
            <breadcrumbTrail slot="legend" slot-scope="{ nodes, colorGetter, width }" :current="nodes.mouseOver" :root="nodes.root" :colorGetter="colorGetter" :from="nodes.clicked" :width="width" />
          </sunburst>
        </b-col>
      </b-row>

      <b-row>
        <div id="chart">
          <apexchart type="radar" height="350" :options="chartOptions" :series="series"></apexchart>
        </div>
      </b-row>

      <b-row>
        <b-col xl="4" class="mb-5 mb-xl-0">
          <d3-sunburst
              :data="sunbust"
              :options="sunbustOption"
              :margin="margin"
              width="100%"
              height="400px">
          </d3-sunburst>
        </b-col>
      </b-row>

      <b-row>
        <b-col xl="8" class="mb-5 mb-xl-0">
          <card type="default" header-classes="bg-transparent">
            <b-row align-v="center" slot="header">
              <b-col>
                <h6 class="text-light text-uppercase ls-1 mb-1">Overview</h6>
                <h5 class="h3 text-white mb-0">Sales value</h5>
              </b-col>
              <b-col>
                <b-nav class="nav-pills justify-content-end">
                  <b-nav-item
                       class="mr-2 mr-md-0"
                       :active="bigLineChart.activeIndex === 0"
                       link-classes="py-2 px-3"
                       @click.prevent="initBigChart(0)">
                      <span class="d-none d-md-block">Month</span>
                      <span class="d-md-none">M</span>
                  </b-nav-item>
                  <b-nav-item
                    link-classes="py-2 px-3"
                    :active="bigLineChart.activeIndex === 1"
                    @click.prevent="initBigChart(1)"
                  >
                    <span class="d-none d-md-block">Week</span>
                    <span class="d-md-none">W</span>
                  </b-nav-item>
                </b-nav>
              </b-col>
            </b-row>
            <line-chart
              :height="350"
              ref="bigChart"
              :chart-data="bigLineChart.chartData"
              :extra-options="bigLineChart.extraOptions"
            >
            </line-chart>
          </card>
        </b-col>

        <b-col xl="4" class="mb-5 mb-xl-0">
          <card header-classes="bg-transparent">
            <b-row align-v="center" slot="header">
              <b-col>
                <h6 class="text-uppercase text-muted ls-1 mb-1">Performance</h6>
                <h5 class="h3 mb-0">Total orders</h5>
              </b-col>
            </b-row>

            <bar-chart
              :height="350"
              ref="barChart"
              :chart-data="redBarChart.chartData"
            >
            </bar-chart>
          </card>
        </b-col>
      </b-row>
      <!-- End charts-->

      <!--Tables-->
      <b-row class="mt-5">
        <b-col xl="8" class="mb-5 mb-xl-0">
          <page-visits-table></page-visits-table>
        </b-col>
        <b-col xl="4" class="mb-5 mb-xl-0">
          <social-traffic-table></social-traffic-table>
        </b-col>
      </b-row>
      <!--End tables-->
    </b-container>

  </div>
</template>
<script>
  //sunburst
  import {
    breadcrumbTrail,
    highlightOnHover,
    nodeInfoDisplayer,
    sunburst,
    zoomOnClick
  } from 'vue-d3-sunburst';
  import "vue-d3-sunburst/dist/vue-d3-sunburst.css";

  //sunburst.vue
  import sunburstVue from '@/components/Sunburst/Sunburst';
  import * as d3 from "d3"
  import d3json from 'assets/json/d3_data.json';

  // Charts
  import * as chartConfigs from '@/components/Charts/config';
  import LineChart from '@/components/Charts/LineChart';
  import BarChart from '@/components/Charts/BarChart';

  // Components
  import BaseProgress from '@/components/BaseProgress';
  import StatsCard from '@/components/Cards/StatsCard';

  // Tables
  import SocialTrafficTable from '@/views/Dashboard/SocialTrafficTable';
  import PageVisitsTable from '@/views/Dashboard/PageVisitsTable';

  export default {

    components: {
      LineChart,
      BarChart,
      BaseProgress,
      StatsCard,
      PageVisitsTable,
      SocialTrafficTable,
      

      //vue-sunburst
      breadcrumbTrail,
      highlightOnHover,
      nodeInfoDisplayer,
      sunburst,
      zoomOnClick,

      //sunburst.vue
      sunburstVue

    },
    data() {
      return {
        //spider charts
        series: [{
            name: 'Series 1',
            data: [20, 100, 40, 30, 50, 80, 33],
        }],
        chartOptions: {
          chart: {
            height: 350,
            type: 'radar',
          },
          dataLabels: {
            enabled: true
          },
          plotOptions: {
            radar: {
              size: 140,
              polygons: {
                strokeColors: '#e9e9e9',
                fill: {
                  colors: ['#f8f8f8', '#fff']
                }
              }
            }
          },
          title: {
            text: 'Radar with Polygon Fill'
          },
          colors: ['#FF4560'],
          markers: {
            size: 4,
            colors: ['#fff'],
            strokeColor: '#FF4560',
            strokeWidth: 2,
          },
          tooltip: {
            y: {
              formatter: function(val) {
                return val
              }
            }
          },
          xaxis: {
            categories: ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']
          },
          yaxis: {
            tickAmount: 7,
            labels: {
              formatter: function(val, i) {
                if (i % 2 === 0) {
                  return val
                } else {
                  return ''
                }
              }
            }
          }
        },









        //sunburst.vue
        sunburstVue: {
          hierarchy: null,
          width: 200,
        },

        //vue-sunburst
      tree:  {
          "name": "안티구아",
          "children": [
            {
              "name": "바디감",
              "children": [
                { "name": "향", "size": 88 },
                { "name": "질감", "size": 70 },
                { "name": "T2", "size": 55 },
              ]
            },
            {
              "name": "신맛",
              "children": [
                { "name": "T1", "size": 90 },
                { "name": "T2", "size": 88 },
                { "name": "T3", "size": 100 },
              ]
            },
            {
              "name": "베리",
              "children": [
                { "name": "떫음", "size": 90 }
              ]
            }
          ]
      },
      sunburstOption : {
        color : "schemeAccent", //  schemeCategory10 | default: schemeAccent | schemeDark2 | schemePaired |
        showLabels : true,
        outAnum : 10
      },
      

        //vue-d3 sunburst
        sunbust: {
          "key": "A1",
          "name": "A1",
          "children": [
            {
              "name": "B1",
              "key": "B1",
              "children": [
                {
                  "name": "C1",
                  "key": "C1",
                  "value": 100
                },
                {
                  "name": "C2",
                  "key": "C2",
                  "value": 300
                },
                {
                  "name": "C3",
                  "key": "C3",
                  "value": 200
                }
              ]
            },
            {
              "name": "B2",
              "value": 200
            }
          ]
        },


        sunbustOption : {
          "fillOpacity"	: 0.9
        },


        bigLineChart: {
          allData: [
            [0, 20, 10, 30, 15, 40, 20, 60, 60],
            [0, 20, 5, 25, 10, 30, 15, 40, 40]
          ],
          activeIndex: 0,
          chartData: {
            datasets: [
              {
                label: 'Performance',
                data: [0, 20, 10, 30, 15, 40, 20, 60, 60],
              }
            ],
            labels: ['May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
          },
          extraOptions: chartConfigs.blueChartOptions,
        },
        redBarChart: {
          chartData: {
            labels: ['Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
            datasets: [{
              label: 'Sales',
              data: [25, 20, 30, 22, 17, 29]
            }]
          },
          extraOptions: chartConfigs.blueChartOptions
        }
      };
    },
    methods: {
      initBigChart(index) {
        let chartData = {
          datasets: [
            {
              label: 'Performance',
              data: this.bigLineChart.allData[index]
            }
          ],
          labels: ['May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
        };
        this.bigLineChart.chartData = chartData;
        this.bigLineChart.activeIndex = index;
      }
    },


    mounted() {
      this.initBigChart(0);

      this.sunburstVue.hierarchy = d3json; 
       

    },

  

  };
</script>
<style>
.el-table .cell{
  padding-left: 0px;
  padding-right: 0px;
}
</style>
