<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
</head>
<body>
    <h2>캠핑 정보 요청</h2>
    <table border='1'>
        <colgroup>
            <col width='60'><col width='200'><col width='100'>
        </colgroup>
        <thead>
            <tr>
                <th>정보</th>
                <th>info</th>
            </tr>
        </thead>
        <tbody>
            <form method="post" action="/info" id="apiInfo">  
                <tr>
                    <td>PageNo</td>
                    <td><input type="text" name="pageNo" />
                </tr>
                <tr>
                    <td>numOfRows</td>
                    <td><input type="text" name="numOfRows" />
                </tr>
            </form>     
    
        </tbody>
    </table boader='1'>

    <div id="list"> 


    </div>
    
    <button  id="apiCall" >요청</button>

    <script type='text/javascript'>
       $(document).ready(function(){

        
        $("#apiCall").on('click',function(e){
            var dataset = {} ;

            var ary = $("#apiInfo").serializeArray();

            for(var i=0; i<ary.length; i++){
                dataset[ary[i].name] = ary[i].value;
            }
            console.log(dataset);

            $.ajax({
                url: "/info",                  // 클라이언트가 요청을 보낼 서버의 URL 주소
                data: dataset,                // HTTP 요청과 함께 서버로 보낼 데이터
                type: "POST",                 // HTTP 요청 방식(GET, POST)
                dataType: "json",
                
                success:function(result){
                    console.log(result.items.item);
                    
                    $("#list").append("<span>" + result.items.item.addr1._text + "</span>");


                }
                ,fail:function(){

                }

            })
            

        });
            
       });
     </script>
     


</body>
</html>