<template>
<div class="svg" v-html="dsvg">
</div>
</template>

<script>
import * as d3 from "d3";
export default {
    props: [
        'data',
        'width',
        'radius'

    ],
    data(){
        return {
            ddata: this.data,
            dwidth: this.width,
            dradius: '',
            dsvg:'',


            sunburst:{
                arc:'',
                svg:'',
                path:'',
                label:'',
                g:'',  
                parent:'',
                root:'',
                color: d3.scaleOrdinal(d3.quantize(d3.interpolateRainbow, this.data.children.length + 1)),
                format: d3.format(",d")
            }
        }
    },
    mounted(){

        this.dradius = this.width / 6;

        var radius = this.dradius;
        var width = this.width;
        // `arc()` factory function is being assigned as a method of the component

        this.sunburst.arc = d3.arc()
        .startAngle(d => d.x0)
        .endAngle(d => d.x1)
        .padAngle(d => Math.min((d.x1 - d.x0) / 2, 0.005))
        .padRadius(radius * 1.5)
        .innerRadius(d => d.y0 * radius)
        .outerRadius(d => Math.max(d.y0 * radius, d.y1 * radius - 1));

        this.sunburst.root = this.partition(this.data);

        this.sunburst.root.each(d => d.current = d);

        this.sunburst.svg = d3.create("svg")
            .attr("viewBox", [0, 0, width, width])
            .style("font", "5px sans-serif");

        this.sunburst.g = this.sunburst.svg.append("g")
            .attr("transform", `translate(${width / 2},${width / 2})`);

        this.sunburst.path = this.sunburst.g.append("g")
            .selectAll("path")
            .data(this.sunburst.root.descendants().slice(1))
            .join("path")
            .attr("fill", d => { while (d.depth > 1) d = d.parent; return this.sunburst.color(d.data.name); })
            .attr("fill-opacity", d => this.arcVisible(d.current) ? (d.children ? 0.6 : 0.4) : 0)
            .attr("d", d => this.sunburst.arc(d.current));

        this.sunburst.path.filter(d => d.children)
            .style("cursor", "pointer")
            .on('click', this.clicked);

        this.sunburst.path.append("title")
            .text(d => `${d.ancestors().map(d => d.data.name).reverse().join("/")}\n${this.sunburst.format(d.value)}`);

        this.sunburst.label = this.sunburst.g.append("g")
            .attr("pointer-events", "none")
            .attr("text-anchor", "middle")
            .style("user-select", "none")
            .selectAll("text")
            .data(this.sunburst.root.descendants().slice(1))
            .join("text")
            .attr("dy", "0.35em")
            .attr("fill-opacity", d => +this.labelVisible(d.current))
            .attr("transform", d => this.labelTransform(d.current))
            .text(d => d.data.name);

        this.sunburst.parent = this.sunburst.g.append("circle")
            .datum(this.sunburst.root)
            .attr("r", radius)
            .attr("fill", "none")
            .attr("pointer-events", "all")
            .on('click', this.clicked);


        //return svg.node();
    
        console.log(this.sunburst.svg.node());
        this.dsvg = this.sunburst.svg.node().outerHTML
      
    },
    
    methods: {
        partition(data) {
        const root = d3.hierarchy(data)
            .sum(d => d.value)
            .sort((a, b) => b.value - a.value);
            
            return d3.partition()
            .size([2 * Math.PI, root.height + 1])
            (root);
        },
        clicked(event, p) {
            //this.$emit('selected', this.sunburst.root)
            console.log('clicked');
            
            this.sunburst.parent.datum(p.parent || this.sunburst.root);

            this.sunburst.root.each(d => d.target = {
            x0: Math.max(0, Math.min(1, (d.x0 - p.x0) / (p.x1 - p.x0))) * 2 * Math.PI,
            x1: Math.max(0, Math.min(1, (d.x1 - p.x0) / (p.x1 - p.x0))) * 2 * Math.PI,
            y0: Math.max(0, d.y0 - p.depth),
            y1: Math.max(0, d.y1 - p.depth)
            });

            const t = g.transition().duration(750);

            // Transition the data on all arcs, even the ones that aren’t visible,
            // so that if this transition is interrupted, entering arcs will start
            // the next transition from the desired position.
            this.sunburst.path.transition(t)
                .tween("data", d => {
                const i = d3.interpolate(d.current, d.target);
                return t => d.current = i(t);
                })
            .filter(function(d) {
                return +this.getAttribute("fill-opacity") || this.arcVisible(d.target);
            })
                .attr("fill-opacity", d => this.arcVisible(d.target) ? (d.children ? 0.6 : 0.4) : 0)
                .attrTween("d", d => () => arc(d.current));

            this.sunburst.label.filter(function(d) {
                return +this.getAttribute("fill-opacity") || this.labelVisible(d.target);
            }).transition(t)
                .attr("fill-opacity", d => +labelVisible(d.target))
                .attrTween("transform", d => () => this.labelTransform(d.current));
        },
        arcVisible(d) {
            return d.y1 <= 3 && d.y0 >= 1 && d.x1 > d.x0;
        },

        labelVisible(d) {
            return d.y1 <= 3 && d.y0 >= 1 && (d.y1 - d.y0) * (d.x1 - d.x0) > 0.03;
        },

        labelTransform(d) {
            const x = (d.x0 + d.x1) / 2 * 180 / Math.PI;
            const y = (d.y0 + d.y1) / 2 * this.dradius;
            return `rotate(${x - 90}) translate(${y},0) rotate(${x < 180 ? 0 : 180})`;
        }


    },
}
</script>
<style lang="scss">

</style>