<template>
  <div class="wrapper"  >

    <div id="burger" class="burger"
    :class="{ 'active' : sideBarOpen }"
    @click.prevent="toggle" >
      <slot>
        <button type="button" class="burger-button" title="Menu">
          <span class="hidden">Toggle menu</span>
          <span class="burger-bar burger-bar--1"></span>
          <span class="burger-bar burger-bar--2"></span>
          <span class="burger-bar burger-bar--3"></span>
        </button>
      </slot>
    </div>

    <side-bar :class="{ 'sideClose' : !sideBarOpen}" :sideClose="!sideBarOpen"  class="sideTrans" > 
      <template slot="links" class="sideTrans">
        <sidebar-item
          :link="{
            name:  sideBarNmControl('Dashboard'),
            path: '/dashboard',
            icon: 'ni ni-tv-2 text-primary'
            
          }"
        >
        </sidebar-item>

        <sidebar-item
            :link="{
              name: sideBarNmControl('Icons'),
              path: '/icons',
              icon: 'ni ni-planet text-blue'
              }"
            >
        </sidebar-item>

        <sidebar-item
              :link="{
                name: sideBarNmControl('Maps'),
                path: '/maps',
                icon: 'ni ni-pin-3 text-orange'
              }">
        </sidebar-item>

        <sidebar-item
              :link="{
                name: sideBarNmControl('User Profile'),
                path: '/profile',
                icon: 'ni ni-single-02 text-yellow'
                }">
        </sidebar-item>

        <sidebar-item
                :link="{
                  name: sideBarNmControl('Tables'),
                  path: '/tables',
                  icon: 'ni ni-bullet-list-67 text-red'
                }">
        </sidebar-item>

        <sidebar-item
                  :link="{
                    name: sideBarNmControl('Login'),
                    path: '/login',
                    icon: 'ni ni-key-25 text-info'
                  }">
        </sidebar-item>
        <sidebar-item
                  :link="{
                    name: sideBarNmControl('Register'),
                    path: '/register',
                    icon: 'ni ni-circle-08 text-pink'
                  }">
        </sidebar-item>
      </template>

      <template v-if="sideBarOpen" slot="links-after" >
        <hr class="my-3">
        <h6 class="navbar-heading p-0 text-muted" >Documentation</h6>

        <b-nav class="navbar-nav mb-md-3">
          <b-nav-item
               href="https://www.creative-tim.com/learning-lab/bootstrap-vue/quick-start/argon-dashboard"
               >
              <i class="ni ni-spaceship"></i>
              <b-nav-text class="p-0">Getting started</b-nav-text>
          </b-nav-item>
          <b-nav-item href="https://www.creative-tim.com/learning-lab/bootstrap-vue/colors/argon-dashboard">
              <i class="ni ni-palette"></i>
              <b-nav-text class="p-0">Foundation</b-nav-text>
          </b-nav-item>
          <b-nav-item href="https://www.creative-tim.com/learning-lab/bootstrap-vue/avatar/argon-dashboard">
              <i class="ni ni-ui-04"></i>
              <b-nav-text class="p-0">Components</b-nav-text>
          </b-nav-item>
        </b-nav>
      </template>
    </side-bar>

    <div class="main-content sideTrans" :class="{ 'main-expansion' : !sideBarOpen }" >
      <main-navbar :type="$route.meta.navbarType"></main-navbar>

      <div @click="$sidebar.displaySidebar(false)">
        <fade-transition :duration="200" origin="center top" mode="out-in">
          <!-- your content here -->
          <router-view></router-view>
        </fade-transition>
      </div>
      <content-footer v-if="!$route.meta.hideFooter"></content-footer>
    </div>
  </div>
</template>
<script>
  /* eslint-disable no-new */
  import PerfectScrollbar from 'perfect-scrollbar';
  import 'perfect-scrollbar/css/perfect-scrollbar.css';

  function hasElement(className) {
    return document.getElementsByClassName(className).length > 0;
  }

  function initScrollbar(className) {
    if (hasElement(className)) {
      new PerfectScrollbar(`.${className}`);
    } else {
      // try to init it later in case this component is loaded async
      setTimeout(() => {
        initScrollbar(className);
      }, 100);
    }
  }


  import MainNavbar from './MainNavbar.vue';
  import ContentFooter from './ContentFooter.vue';
  import Content from './Content.vue';
  import { FadeTransition } from 'vue2-transitions';

  export default {
    components: {
      MainNavbar,
      ContentFooter,
      Content,
      FadeTransition
    },


    data(){
      return{
        sideBarOpen : true
      }
    },
    
    // watch: {
    //   sideBarOpen: function () {
    //     this.text = oldVal + '에서 ' + newVal + '로 변경되었습니다.'
    //   }
    // },

    methods: {
      sideBarNmControl(name) {
          return this.sideBarOpen?  name : ''
      },
      //customize
      toggle() {
        this.sideBarOpen = !this.sideBarOpen;
      },  



      initScrollbar() {
        let isWindows = navigator.platform.startsWith('Win');
        if (isWindows) {
          initScrollbar('sidenav');
        }
      }
    },
    mounted() {
      this.initScrollbar()
    }
  };
</script>
<style lang="scss">
//customize
  @media (max-width: 768px) {
    .burger {
      display: none!important;
    }
  }

  @media (min-width: 768px){

    .navbar-vertical.navbar-expand-md{
      padding-right: 2.2rem;
    }


    .sideTrans{
      transition: 0.1s;
    }
    

    .sideClose{
      width: 4% !important;
    }

    .main-expansion {
      margin-left: 60px !important;
    }


    .hidden {
      visibility: hidden;
    }

    button.burger-button {
        cursor: pointer;
    }

    /* remove blue outline */
    button:focus.burger-button {
        outline: 0;
    }
  
    .burger-button {
          position: fixed;
          left: 17px;
          top: 5px;
          height: 30px;
          width: 32px;
          display: block;
          z-index: 60;
          border: 0;
          border-radius: 0;
          background-color: transparent;
          pointer-events: all;
          transition: transform .6s cubic-bezier(.165,.84,.44,1);
    }

    .active {
      .burger-button {
          position: fixed;
          left: 210px;
          top: 5px;
          height: 30px;
          width: 32px;
          display: block;
          z-index: 60;
          border: 0;
          border-radius: 0;
          background-color: transparent;
          pointer-events: all;
          transition: transform .6s cubic-bezier(.165,.84,.44,1);
      }
    }

    .burger-bar {
        background-color: #000;
        position: absolute;
        top: 50%;
        right: 6px;
        left: 6px;
        height: 2px;
        width: auto;
        margin-top: -1px;
        transition: transform .6s cubic-bezier(.165,.84,.44,1),opacity .3s cubic-bezier(.165,.84,.44,1),background-color .6s cubic-bezier(.165,.84,.44,1);
    }

    .burger-bar--1 {
        -webkit-transform: translateY(-6px);
        transform: translateY(-6px);
    }

    .burger-bar--2 {
        transform-origin: 100% 50%;
        transform: scaleX(.8);
    }

    .burger-button:hover .burger-bar--2 {
        transform: scaleX(1);
    }

    .no-touchevents .burger-bar--2:hover {
        transform: scaleX(1);
    }

    .burger-bar--3 {
        transform: translateY(6px);
    }



    #burger.active .burger-button {
        transform: rotate(-180deg);
    }

    #burger.active .burger-bar--1 {
        transform: rotate(45deg)
    }

    #burger.active .burger-bar--2 {
        opacity: 0;
    }

    #burger.active .burger-bar--3 {
        transform: rotate(-45deg)
    }


  }

</style>
